@import url('https://fonts.googleapis.com/css2?family=Ballet&display=swap');
body {
    background-image: url(../img/lluvia.gif);
    margin-top: 40px;
}

section {
    /* background-color: rgb(247, 205, 227); */
    background-color: rgb(172, 160, 206);
    color: rgb(255, 255, 255);
    box-shadow: inset 0px 0px 80px rgba(167, 152, 209, 0.9);
    box-shadow: 0px 0px 60px rgba(167, 152, 209, 1);
}

section h1:hover {
    color: rgb(34, 33, 34);
}

section pre:hover {
    color: rgb(34, 33, 34);
}

pre {
    font-size: 20px;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 70px;
    text-align: center;
    font-family: 'Ballet', cursive;
    margin: 10px;
}

#caja {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 500px;
    align-items: center;
    width: 800px;
    margin: 0 auto;
}

#imagenRosa {
    width: 270px;
    height: 270px;
    margin-top: 30px;
    background-color: rgb(240, 204, 222);
    background-color: rgb(247, 205, 227);
    background-attachment: center;
    background-repeat: no-repeat;
    border-radius: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(34, 34, 33, 0.9);
}